
        <div class="container">
            <div class="header row">
                <h1 class="col s9 l7 m9">Portfolio of Minji Yoon</h1>
                <ul class="menu col l5 col s3 col s3">
                    <li class="menuList col l4">Portfolio</li>
                    <li class="menuList col l4">Contact</li>
                    <li class="menuList col l4">About</li>
                </ul>
            </div>
            <div class="contents row">
                <h2>Portfolio</h2>
            <ul class="grid row">
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box1.jpg") %> </div><div class="textSection">Lorem Ipsum is dummy text</div></div></li>
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box2.jpg") %></div><div class="textSection">Neque porro quisquam </div></div></li>
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box3.jpg") %> </div><div class="textSection">Lest qui dolorem ipsum</div></div></li>
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box4.jpg") %> </div><div class="textSection">consectetur adipiscing elit</div></div></li>
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box5.jpg") %> </div><div class="textSection">Praesent purus lacus</div></div></li>
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box6.jpg") %> </div><div class="textSection"> tincidunt sit amet varius velt</div></div></li>
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box7.jpg") %> </div><div class="textSection">facilisis eget nisl. Aenean</div></div></li>
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box8.jpg") %> </div><div class="textSection">feugiat mi lacinia vitae</div></div></li>
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box9.jpg") %> </div><div class="textSection">vitae gravida orci volutpat vit</div></div></li>
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box10.jpg") %> </div><div class="textSection">ipsum primis in faucibus.</div></div></li>
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box11.jpg") %> </div><div class="textSection">Proin accumsan porttitor justo</div></div></li>
                <li class="gridBox col l2 m4 s6"><div class="gridBoxInner"><div class="imgSection"><%= image_tag ("box12.jpg") %> </div><div class="textSection">Lorem Ipsum is dummy text</div></div></li>
            </ul>
            </div>
            <div class="footer row col l12 m12 s12">
                <p>Designed by minininion</p>
            </div>
            <div class="dark">
                <div class="lightBox"><div class="lightImgSection"></div></div>
            </div>
        </div>